name: Docker-CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Builds JMeter Docker image
        run: docker build ./docker

      - name: Run JMeter in Docker
        run: docker run jmeter-build --version
